@font-face {
	font-family: 'Nunito';
	src: url('/font/Nunito-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito';
	src: url('/font/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Fantasque Sans Mono';
	src: url('/font/FantasqueSansMono-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

body {
	background-color: #fffff5;
	color: #3b3341;
	margin: 0;
	font-size: 16px;
	font-family: 'Nunito', sans-serif;
}

h1,
.fake-h1 {
	/* font-family: monospace; */
	font-size: 1.4rem;
	margin-top: 2rem;
	margin-bottom: 0;
	/* font-variant-caps: small-caps; */
	line-height: 1;
	font-weight: bold;
}

h2 {
	/* font-family: monospace; */
	font-size: 1.2rem;
	margin-top: 2em;
	margin-bottom: 0;
	/* font-variant-caps: small-caps; */
	line-height: 1;
}

:is(h1, h2, h3, h4, h5, h6):target {
	background-color: #e3ff10ff;
	color: #000;
	transition: 400ms ease-in-out;
}

:is(h1, h2, h3, h4, h5, h6):target:before {
	content: '# ';
}

pre {
	font-size: 1rem;
	margin: 0;
	overflow-x: auto;
	font-family: 'Fantasque Sans Mono', monospace;
	line-height: 1.4;
	letter-spacing: -0.025em;
}

pre code {
	border: none !important;
}

code {
	font-family: 'Fantasque Sans Mono', monospace;
	font-size: 0.9em;
	border: 1px solid #dfdfdf;
	padding: 1px 2px;
	border-radius: 4px;
}

p {
	margin: 1.5rem 0;
	line-height: 1.5;
	text-align: justify;
	hyphens: auto;
}

a {
	color: #007bff;
}

a:visited {
	color: #0600b3;
}

blockquote {
	margin: 0;
	margin-top: 1.5rem;
	padding-left: 1rem;
	border-left: 2px solid #dfdfdf;
	color: #444;
	line-height: 1.5;
}

abbr {
	text-decoration: underline;
	cursor: help;
}

summary h2 {
	display: inline;
}

summary:has(h2) {
	margin-top: 3rem;
}

hr {
	border: none;
	height: 1px;
	width: 100%;
	background: currentColor;
	margin: 3rem 0;
}

.screenreader {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #191e16ff;
		color: #e1dcedff;
	}

	a {
		color: #027cffff;
	}

	a:visited {
		color: hsla(288, 100%, 72%, 1);
	}

	blockquote {
		border-color: #444;
		color: #bbb;
	}
}
